# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.ParadiseCafe2.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Gustavo\Documents\GitHub\ParadiseCafe2\.idea\.idea.ParadiseCafe2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
